<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/template/css/template.css">
</head>
<body>
<div class="section1">
    <div class="head"><h1>B<span style="color: orange">a</span>sco</h1></div>
    <div class="head1">
        <div class="o1">
            <img src="/template/img/location.png" alt="" width="15%" height="25px" class="b111">
            <h3>location</h3>
        </div>
        <div class="o2">
            <img src="/template/img/phone-call.png" alt="" width="15%" height="25px" class="b112" >
            <h3>+71 1234567890</h3>
        </div>
        <div class="o3">
            <img src="/template/img/email.png" alt=""  width="15%" height="25px" class="b113">
            <h3>demo@gmail.com</h3>
        </div>
        <div class="o4">
            <h3>login</h3>
            <img src="/template/img/user.png" alt="" width="15%" height="25px" class="b114">
        </div>
        <div class="o5">
            <img src="/template/img/transparency.png" alt="" width="25%" height="25px" class="b115">
        </div>
        <div class="o6">
            <img src="/template/img/menu_btn.png" alt=""  width="25%" height="25px" class="b116">
        </div>

    </div>

    

</div> 
<div class="section2">
    <div class="subsection">
    <div class="box1"> 
       <div class="text1"> <br><h1>Welcome To our <span style="color: orange;"> Interior Design </span></h1><br></div>
       <div class="text2"><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as

</p></div>
    </div>
    
    </div>
    <div class="smallbox1">
        <div class="text3"><h4>Read more</h4></div>
        </div>
    <div class="img1"></div>
</div>
<div class="section3">
    <h1>ABOUT US</h1> <br>
       <p> It is a long established fact that a reader will be distracted by the readable content</p></div>

</div>
<div class="section4">
        <div class="sub1"> 
            <div class="all"><h1>BEST INTERIOR DESIGN</h1> <br>
            <p>
                There are many variations of passages of <br> Ipsum available, but the majority  <br>have suffered alteration in some form, by <br> injected humour,There are many variations<br> of passages of</p>
                <div class="small"><h4>Read more</h4></div>
           </div>
        <div class="box2"></div>
        </div>
</div>
<div class="section5"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="brown">
        <h1>IF A BUILDING <br>
            <span style="color: orange;"> BECOMES ARCHITECTURE </span> <br>
            THEN IT IS ART <br></h1> <br>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem <br> Ipsum is that it has a more-or-less normal distribution of letters, asIt is a long established fact that a reader will be distracted by the readable <br> content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, asIt is a <br> long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum <br> is that it has a more-or-less normal distribution of letters, as</p>
    </div>
</div>
<div class="section6">
    <h1>SERVICES</h1>
    <p>It is a long established fact that a reader will be distracted by the readable content</p>
</div>
<div class="section7">
    <div class="col">
        <div class="c1">
            <div> <button><h3>RESIDENTAL</h3></button></div>
            <div> <button><H3>RETAIL DESIGN</H3></button></div>
            <div> <button><H3>SPACE ADAPTATION</H3></button></div>
        </div>
        <div class="r">
            <div class="r1">
            <div class="r2"></div>
            <div class="r3"></div>
            <div class="s1"></div>
        </div>
        <div class="x2"><h4>Read more</h4></div>
     
        </div>
    </div>
</div>
<div class="section8">
    <div class="n1"></div>
    <div class="n3">
        <div class="Na1"> <h1>Get an instant estimate
            </h1> 
            <p>It is a long established fact that a reader will be distracted by the <br> readable content of a page when looking at its layout. The point of  <br>
          using Lorem Ipsum is that it has a more-or-less normal distribution of  <br> letters,</p>
          <button class="n4"> Get A quote</button>
        </div>
        <div class="na2"> <img src="/template/img/pc.png" alt=""></div>
    </div>
       <div class="n2"> </div>
</div>
<div class="section9">
    <div class="x11">
        <div class="z1">
            <div class="q1">
                <img src="/template/img/facebook (1).png" alt="" width="100%" height="50px" >
            </div>
            <div class="q2">
                <img src="/template/img/twitter.png" alt="" width="70%" height="35px" class="fa1">
            </div>
            <div class="q3">
                <img src="/template/img/instagram (1).png" alt="" width="70%" height="35px" class="fa1" >
            </div>
            <div class="q4">
                <img src="/template/img/linkedin.png" alt="" width="70%" height="35px" class="fa1" >
            </div>
        </div>
        <div><hr></div>
    </div>
    <div class="x12">
        <div class="c11">
            <h4>B<span style="color: orange;">a</span>sco</h4>
            <p>It is a long established fact that a reader <br> will be distracted by the readable <br> content of a page when looking at its <br> layout. The point of using Lorem Ipsum <br> is that it has a more-or-less normal <br> distribution of letters,</p>
        </div>
        <div class="c12">
            <h4>EXPLORE</h4>
            <ul><li>Home</li>
                <li>About</li>
                <li>Services</li>
                <li>Contact Us</li></ul>

        </div>
        <div class="c13">
            <div><h4>RECENT POSTS</h4> </div> <br>
            <div class="ss1">
                <img src="/template/img/re_img1.jpg" alt=""> </div>
            <div class="ss2">
                <img src="/template/img/re_img2.jpg" alt="">
            </div>
            <div class="ss3">
                <img src="/template/img/re_img3.jpg" alt="">
            </div>
            <div class="ss4">
                <img src="/template/img/re_img4.jpg" alt="">
            </div>
        </div>
        <div class="c14">
            <h4>CONTACT US</h4>
            <p>It is a lon <br>
                g established fact that a reader <br>  will be distracted by the readable <br> content of a page when looking <br> at its</p>
        </div>   
    </div>
    <div class="x13">
        <div><hr></div>
        <div class="v1">
            <p>Copyright 2020 All Right Reserved By Free Html Template</p>
        </div>
    </div> 
</div>

    
</body>
</html>